$mainColor: #FFC700;
html,
body {
  height: 100%;
}
html {
	font-size: 10px;	
	font-style: normal;
	font-weight: normal;
	color: #202020;
	background-color: #fff;
}
body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 900;
	font-size: 4.8rem;
	line-height: 150%;
	color: #FFFFFF;
	margin: 0;
}
h2, .header_h2 {
	font-weight: bold;
	font-size: 3.6rem;
	line-height: 130%;
	position: relative;
	color: #202020;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 70px;
		height: 8px;
		background: #FFC700;
	}
	&.header_clear {
		font-weight: 900;
		font-size: 4.8rem;
		line-height: 130%;
		color: #FFFFFF;
		&:before {
			display: none;
		}
	}
}
p {
	font-size: 1.8rem;
	line-height: 150%;
	color: #000000;
	margin: 0;
}
img.w {
	width: 100%;
	max-width: 100%;
}
a {
	&:hover {
		text-decoration: none;
	}
}
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.content {
		flex: 1 0 auto;
	}
	.footer {
		flex: 0 0 auto;
	}
}
.container_1_2 {
	width: 100%;
}
@media (min-width: 1200px){
	.container_1_2 {
		max-width: 570px;
		padding: 0 15px 0 30px;
	}
}
@media (max-width: 1200px){
	.container_1_2 {
		max-width: 570px;
		padding: 0 15px 0 30px;
	}
}
@media (max-width: 992px){
	html {
		font-size: 9px;
	}
	.container_1_2 {
		max-width: 480px;
		padding: 0 15px 0 30px;
	}
}
@media (max-width: 768px){
	.container_1_2 {
		max-width: 360px;
		padding: 0 15px 0 30px;
	}
}
@media (max-width: 576px){
	h1 {
		font-size: 4rem;
	}
	h2.header_clear {
		font-size: 3rem;
	}
	.container_1_2 {
		max-width: 270px;
		padding: 0 15px 0 30px;
	}
}

@media (max-width: 991.98px) {
	html {
		font-size: 9px;
	}
}