.form {
	.form__left {
		width: 50%;
		position: relative;
		background-color: #FFC700;
		.checkbox { display: none; }
		.checkbox__label {
			cursor: pointer;
			display: inline-block;
			width: 20px;
			height: 20px;
			background: none;
			border: 1px solid #000;
			border-radius: 4px;
			margin-right: 6px;
			position: relative;
			padding: 2px;
		}
		.checkbox:checked + .checkbox__label:before { 
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 70%;
			height: 70%;
			content: "";
			background: url("../img/checked.svg") no-repeat;
		}
		@media (max-width: 981.99px) {
			width: 100%;
		}
	}
	@media (max-width: 981.99px) {
			
		flex-direction: column;
	}
	a {
		font-size: 1.4rem;
		line-height: 130%;
		color: #000000;
		&:hover {
			text-decoration: none;
			color: #000;
		}
	}
	input {
		background: none;
		border: none;
		border-bottom: 1px solid #000;
		border-radius: 0;
		padding: 8px 0;
		font-size: 1.8rem;
		color: #000;
		width: 80%;
		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #000;
		} 
		&::-moz-placeholder {
			color: #000;
		}
	}
	textarea {
		background: none;
		border: none;
		border-bottom: 1px solid #000;
		border-radius: 0;
		padding: 8px 0;
		font-size: 1.8rem;
		color: #000;
		width: 80%;
		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #000;
		} 
		&::-moz-placeholder {
			color: #000;
		}
	}




	.form__right {
		width: 50%;
		position: relative;
		@media (max-width: 981.99px) {
			width: 100%;
		}
	}
}