.btn {
	min-width: 160px;
	background: linear-gradient(270deg, #FFB800 0%, #FFC700 100%);
	box-shadow: 0px 0px 10px rgba(255, 230, 0, 0.5);
	border-radius: 100px;
	font-size: 1.4rem;
	line-height: 130%;
	text-align: center;
	text-transform: uppercase;
	padding: 13px 20px;
	&.btn_black {
		background: #000;
		color: #fff;
	}
}