.services {
	.services__type {
		img {
			width: 100%;
			max-width: 100%;
			transition: all 0.5s;
		}
		a {
			overflow: hidden;
			&:hover {
				img {
					transform: scale(1.1) rotate(-1deg);
					transition: all 0.5s;
				}
			}
		}

		
	}
	.services__text {
		z-index: 10;
		background-color: $mainColor;
		width: 100%;
	}
}