.catalog {
	.catalog__header {
		font-size: 1.8rem;
		line-height: 150%;
		color: #FFFFFF;
		&:hover {
			text-decoration: none;
		}
		&.catalog__header {
			&:hover {
				color: $mainColor;
			}
		}
		&.catalog__header_big {
			font-weight: 500;
			line-height: 130%;
			text-align: center;
			color: #202020;
		}
	}
	a:hover {
		text-decoration: none;
		.catalog__header_big {
			color: #202020;
		}

	}
	a.catalog__item_big:hover {
		.catalog__bg_big{
			width: 100%;
			height: 100%;
			transition: all 0.5s;
			border-radius: 10%;
		}
	}
	.catalog__wrap_big {
		position: relative;
		img {
			position: relative;
			z-index: 2;
		}
		.catalog__bg_big {
			transition: all 0.5s;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 70%;
			height: 70%;
			border-radius: 50%;
			background-color: #FFC700;
			z-index: 1;
		}
	}
	
}