doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
		title New project
	body
		div(class="page")
			header
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between")
								a(class="navbar-brand" href="#")
									img(class="" src="img/logoBig.svg" alt="logo")
								button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation")
									span(class="navbar-toggler-icon")
								div(class="collapse navbar-collapse" id="navbar")
									ul(class="navbar-nav w-100 d-flex justify-content-between")
										li(class="d-flex justify-content-center nav-item active")
											a(class="nav-link" href="#")
												| Главная
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| О компании
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| Услуги
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| Каталог
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| Контакты
								div(class="ml-0 ml-lg-5 block_phone")
									a(class="phone" href="tel:+73512200011")
										| +7 (351) 220 00 11
								div(class="ml-3 d-none d-lg-block")
									button(class="btn" data-toggle="modal" data-target="#ModalCenter")
										| Заказать звонок

			div(class="content")
				div(class="welcome")
					div(class="container h-100 d-flex flex-column justify-content-center")
						div(class="row")
							div(class="col-12 d-flex flex-column align-items-start")
								h1()
									| Продажа металлопроката
								span(class="h_addition")
									| по всей России
								a(class="btn mt-5" href="#")
									| Каталог
						img(class="welcome_armatura d-none d-xl-block" src="img/armatura.png" alr="img")
				div(class="conrainer-fluid py-5 block__relative")
					div(class="container")
						div(class="row catalog")
							div(class="col-12 pb-5")
								h2()
									| Каталог
							a(class="col-12 col-sm-6 col-lg-4 catalog__item_big" href="#")
								div(class="d-flex flex-column align-items-center")
									div(class="catalog__wrap_big")
										div(class="catalog__bg_big")
										img(src="img/1.png" alt="img")
									p(class="catalog__header catalog__header_big")
										| Арматура
							a(class="col-12 col-sm-6 col-lg-4 catalog__item_big" href="#")
								div(class="d-flex flex-column align-items-center")
									div(class="catalog__wrap_big")
										div(class="catalog__bg_big")
										img(src="img/2.png" alt="img")
									p(class="catalog__header catalog__header_big")
										| Круг
							a(class="col-12 col-sm-6 col-lg-4 catalog__item_big" href="#")
								div(class="d-flex flex-column align-items-center")
									div(class="catalog__wrap_big")
										div(class="catalog__bg_big")
										img(src="img/3.png" alt="img")
									p(class="catalog__header catalog__header_big")
										| Уголок
							a(class="col-12 col-sm-6 col-lg-4 catalog__item_big" href="#")
								div(class="d-flex flex-column align-items-center")
									div(class="catalog__wrap_big")
										div(class="catalog__bg_big")
										img(src="img/4.png" alt="img")
									p(class="catalog__header catalog__header_big")
										| Швеллер
							a(class="col-12 col-sm-6 col-lg-4 catalog__item_big" href="#")
								div(class="d-flex flex-column align-items-center")
									div(class="catalog__wrap_big")
										div(class="catalog__bg_big")
										img(src="img/5.png" alt="img")
									p(class="catalog__header catalog__header_big")
										| Балка
							a(class="col-12 col-sm-6 col-lg-4 catalog__item_big" href="#")
								div(class="d-flex flex-column align-items-center")
									div(class="catalog__wrap_big")
										div(class="catalog__bg_big")
										img(src="img/6.png" alt="img")
									p(class="catalog__header catalog__header_big")
										| Труба газопроводная
							a(class="col-12 col-sm-6 col-lg-4 catalog__item_big" href="#")
								div(class="d-flex flex-column align-items-center")
									div(class="catalog__wrap_big")
										div(class="catalog__bg_big")
										img(src="img/7.png" alt="img")
									p(class="catalog__header catalog__header_big")
										| Труба электросварная
							a(class="col-12 col-sm-6 col-lg-4 catalog__item_big" href="#")
								div(class="d-flex flex-column align-items-center")
									div(class="catalog__wrap_big")
										div(class="catalog__bg_big")
										img(src="img/8.png" alt="img")
									p(class="catalog__header catalog__header_big")
										| Труба профильная
							a(class="col-12 col-sm-6 col-lg-4 catalog__item_big" href="#")
								div(class="d-flex flex-column align-items-center")
									div(class="catalog__wrap_big")
										div(class="catalog__bg_big")
										img(src="img/9.png" alt="img")
									p(class="catalog__header catalog__header_big")
										| Лист
					img(src="img/struzhka.png" alt="img" class="struzhka_left d-none d-xl-block " )
					img(src="img/struzhka1.png" alt="img" class="struzhka_right d-none d-xl-block " )
				div(class="container-fluid price")
					div(class="container py-5")
						div(class="row")
							div(class="col")
								h2(class="header_clear mb-5")
									| Ознакомьтесь<br>с ценами
								a(class="btn" href="#")
									| Скачать прайс
							img(src="img/book.png" alt="img" class="book")
				div(class="container advantage")
					div(class="row")
						div(class="col-12")
							h2()
								| Наши преимущества
					div(class="row py-5")
						div(class="col-12 col-md-6 col-lg-4 py-5")
							div(class="d-flex flex-column align-items-center")
								img(src="img/list.svg" alt="img")
								p(class="pt-4 text-center")
									| Весь ассортимент<br>всегда в наличии
						div(class="col-12 col-md-6 col-lg-4 py-5")
							div(class="d-flex flex-column align-items-center")
								img(src="img/shipped.svg" alt="img")
								p(class="pt-4 text-center")
									| Доставка собственной<br>траспортной компанией
						div(class="col-12 col-md-6 col-lg-4 py-5")
							div(class="d-flex flex-column align-items-center")
								img(src="img/bill.svg" alt="img")
								p(class="pt-4 text-center")
									| Гибкая система<br>оплаты
				div(class="container-fluid form d-flex p-0")
					div(class="form__left py-5 d-flex justify-content-end")
						div(class="container_1_2")
							h2(class="mb-4")
								| Связаться с нами
							form(class="d-flex flex-column align-items-start")
								input(name="name" type="text" class="mb-4" placeholder="Имя")
								input(name="phone" type="tel" class="mb-4" placeholder="Телефон")
								textarea(name="message" placeholder="Сообщение" class="mb-4")
								div(class="d-flex align-items-center justify-content-center pt-3")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									a(href="#")
										| Согласен с политикой обработки персональных данных
								button(class="btn btn_black mt-5" type="submit")
									| Отправить
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.6234205112664!2d61.29649705996184!3d55.15486832514352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5924fc48a63cf%3A0x4746b6abeaf1a49f!2z0YPQuy4g0JvQtdC90LjQvdCwLCA1NSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDkwMg!5e0!3m2!1sru!2sru!4v1565596412765!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="map form__right")
				div(class="container-fluid company")
					div(class="container")
						div(class="row py-5")
							div(class="col-12 col-lg-6")
								h2
									| О компании
								p(class="pt-5")
									| Итак, мы можем подвести итог, что современные технологии, и компьютеры в частности, имеют как положительные, так и отрицательные последствия для жизни людей. А для того, чтобы жить в гармонии люди должны найти правильный баланс. Они должны помнить, что компьютер изначально был создан, чтобы помочь людям, сделать их жизнь легче, а не разрушить ее.
								p(class="pt-5")
									| Компьютеры коренным образом изменили жизнь каждого человека. Несколько десятилетий назад люди даже не знали ничего об этих электронных устройствах, тогда как в наши дни даже маленький ребенок может управлять этой машиной. Почти все современные технологии зависит от компьютеров, которые используются для хранения данных: файлов, секретной информации, банковских операций и прочего.
							div(class="col-12 col-lg-5 offset-lg-1")
								img(src="img/man.png" class="w" alt="img")
					div(class="rombik")
						div(class="rombik_baby " )
						div(class="rombik_main " )
			div(class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true")
				div(class="modal-dialog modal-dialog-centered" role="document")
					div(class="modal-content")
						div(class="modal-header")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times
						div(class="modal-body")
							div(class="form d-flex p-0")
								div(class="form__left d-flex justify-content-end")
									div(class="container_1_2")
										span(class="modal__header mb-1")
											| Оставьте свои контакты
										span
											| и мы с вами свяжемся
										form(class="d-flex flex-column align-items-center pt-4")
											input(name="name" type="text" class="mb-4" placeholder="Имя*")
											input(name="phone" type="tel" class="mb-4" placeholder="Телефон*")
											textarea(name="message" placeholder="Сообщение" class="mb-4")
											div(class="d-flex align-items-center justify-content-center pt-3")
												label(class="m-0")
													input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
													span(for="checkbox" class="checkbox__label")
												a(href="#")
													| Согласен с политикой обработки персональных данных
											button(class="btn mt-5" type="submit")
												| Отправить
			footer(class="footer pt-4 pb-5")
				div(class="container")
					div(class="row align-items-center")
						div(class="col-12 col-lg-3 d-flex flex-column align-items-start footer_info pb-3 pb-lg-0")
							a(class="navbar-brand navbar-brand_footer" href="#")
								img(src="img/logoBig.svg" alt="logo")
							a(class="phone phone_footer my-4" href="tel:+73510000000")
								| +7 (351) 000 00 00
							span(class="d-block address address_footer")
								| Челябинск, ул. Ленина 55
						div(class="col-12 col-lg-9")
							div(class="catalog")
								div(class="row")
									div(class="col-6 col-lg-4 d-flex flex-column pb-3 pb-lg-0")
										a(class="catalog__header mb-4" href="#")
											| Арматура
										a(class="catalog__header mb-4" href="#")
											| Круг
										a(class="catalog__header" href="#")
											| Уголок
									div(class="col-6 col-lg-4 d-flex flex-column pb-3 pb-lg-0")
										a(class="catalog__header mb-4" href="#")
											| Швеллер
										a(class="catalog__header mb-4" href="#")
											| Балка
										a(class="catalog__header" href="#")
											| Труба газопроводная
									div(class="col-6 col-lg-4 d-flex flex-column")
										a(class="catalog__header mb-4" href="#")
											| Труба электросварная
										a(class="catalog__header mb-4" href="#")
											| Труба профильная
										a(class="catalog__header" href="#")
											| Лист
					div(class="row justify-content-center pt-5")
						a(class="social_icon" href="#")
							div(class="endsocial_icon_bg")
							img(src="img/ins.png" alt="img")
						a(class="social_icon mx-4" href="#")
							div(class="endsocial_icon_bg")
							img(src="img/vk.png" alt="img")
						a(class="endsocial_icon" href="#")
							div(class="social_icon_bg")
							img(src="img/youtube.png" alt="img")
			script(src="js/main.min.js")
