/* INCLUD SASS */
@import "reset/reset.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "default/default.scss";

@import 'header/header.scss';
@import "button/button.scss";
@import "catalog/catalog.scss";
@import "form/form.scss";
@import "social/social.scss";
@import "modalWindow/modal.scss";
@import "breadcrumb/breadcrumb.scss";
@import "services/services.scss";
@import "item/item.scss";
@import "footer/footer.scss";


.welcome {
	height: 750px;
	background: url("../img/welcomeBG.png") no-repeat #fff;
	background-position: center center;
	background-size: cover;
	position: relative;
	.welcome_armatura {
		position: absolute;
		right: 0; bottom: -16%;
	}
}
.h_addition {
	font-size: 3.2rem;
	line-height: 150%;
	color: #FFFFFF;
}
.address {
	font-size: 1.8rem;
	line-height: 150%;
	color: $mainColor;
}
.block__relative {
	position: relative;
	.struzhka_left {
		position: absolute;
		top: 20%;
		left: 5%;
	}
	.struzhka_right {
		position: absolute;
		top: 80%;
		right: 5%;
	}
}
.price {
	margin: 10rem 0;
	position: relative;
	background: url("../img/Group2.png") no-repeat #1A1A1A;
	background-position: left bottom;
	.col {
		@media (max-width: 981.99px){
			order: 2;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}
	.book {
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%);
		@media (max-width: 981.99px) {
			position: unset;
			transform: unset;
			width: 100%;
			max-width: 100%;
			order: 1;
		}
	}
}
.company {
	position: relative;
	overflow: hidden;

	.rombik {
		position: absolute;
		left: 5%;
		bottom: -50px;
		width: 150px; 
		height: 150px;
		border: 5px solid #FFBE01;
		transform: rotate(45deg);
		display: none;
		@media (min-width: 1500px){
			display: block
		}
		.rombik_main {
			position: relative;
		}
	}
	.rombik_baby {
		position: relative;
		width: 100px;
		height: 100px;
		border: 3px solid #000;
		margin-top: -40px;
		margin-left: -40px;
		animation: box  5s infinite ease-in-out;
	}
	@keyframes box {
		0% { transform: scale(1) rotate(0deg);  }
		50% { transform: scale(1.3) rotate(70deg); }
		100% { transform: scale(1) rotate(180deg); }
	}
	
}
