header {
	position: fixed;
	top: 0; right: 0; left: 0;
	background: linear-gradient(#000 0%, transparent 70%);
	transition: background 0.5s;
	z-index: 1000;
	&.active {
		background: rgba(0, 0, 0, 0.9);
		transition: background 0.5s;
	}
}
.nav-item {
	.nav-link {
		font-size: 1.8rem;
		line-height: 1.3;
		color: #FFFFFF!important;
		transition: color 0.3s;
		&:hover {
			transition: color 0.3s;
			color: $mainColor!important;
		}		
	}
	&.active{
		.nav-link {
			color: $mainColor!important;
			font-weight: bold;
		}
	}
}
.phone {
	font-weight: bold;
	font-size: 2rem;
	line-height: 130%;
	color: $mainColor;
	&:hover {
		text-decoration: none;
		color: $mainColor;
	}
}
@media (max-width: 991.98px) {
	.navbar-brand {
		order: 1;
		width: 30%;
		min-width: 64px;
		img {
			min-width: 64px;
			max-width: 100%;
		}
	}
	.navbar-toggler {
		order: 3;
	}
	.block_phone {
		order: 2;
		width: 50%;
	}
	.footer_info {
		align-items: center!important;
	}
	.navbar-brand_footer {
		order: 1;
		display: flex;
		justify-content: center;
	}
	.address_footer {
		order: 3;
	}
	.phone_footer {
		order: 2;
	}
	.navbar-collapse {
		order: 5;
	}
}