.social_icon {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	.social_icon_bg {
		box-shadow: 0px 0px 10px rgba(255, 230, 0, 0.5);
		border-radius: 100%;
		background-color: $mainColor;
		position: absolute;
		z-index: 1;
		width: 100%; height: 100%;
		top: 0; right: 0; bottom: 0; left: 0;
	}
	img {
		position: absolute;
		z-index: 2;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
}