.page__item {
	overflow: hidden;
	.catalog__item_big {
		@media (max-width: 992px){ 
			flex-direction: column;
			h1 {
				font-size: 5rem;
			}
		}
	}
	h1 {
		position: relative;
		font-weight: bold;
		font-size: 6.4rem;
		line-height: 130%;
		color: #202020;
		padding: 0 10px;
		&:after {
			background: url("../img/rect.svg") no-repeat;
			position: absolute;
			content: "";
			display: block;
			width: 33px; height: 33px;
			right: -2px; top: 0;
		}	
		&:before {
			background: url("../img/rect.svg") no-repeat;
			position: absolute;
			content: "";
			display: block;
			width: 33px; height: 33px;
			left: -2px; bottom: 0;
			transform: scale(-1);
		}	
	}
	table {
		min-width: 600px;
		width: 100%;
		margin: auto;
		th, td {
			border: 1px solid #000;
			padding: 24px;
			font-size: 1.8rem;
			line-height: 130%;
			text-align: center;
			color: #202020;
		}
		th {
			background-color: $mainColor;
			font-weight: bold;
		}
	}
	.table__wrapper {
		overflow-x: auto;
	}
	.item_info {
		background: url("../img/item_bg.png") no-repeat;

		background-size: cover;
		padding: 4rem 0;
		p {
			border-left: 4px solid $mainColor;
			padding-left: 4rem;
			color: #fff;
		}
	}
}